body { 
    font-family: 'Franklin Gothic Medium', sans-serif;
    background-color: #fad38f; 
    color: #1a1a1a; 
    align-items: center;
    text-align: center;
    overflow: hidden;
}

/*-------------------------------------------------------------------*/

.navbar {
    background-color: #1a1a1a81 !important;
    padding: 20px 0;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 10%;
    backdrop-filter: blur(10px);
    z-index: 1000;
}
#logo-img {
    width: 90px;
    height: 90px;
}
#logo {
    color: #fffbe1 !important;
    font-size: 23px;
}
.navbar-collapse {
    justify-content: center;
}
.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.nav-item a {
    float: none;
    position: relative;
    text-decoration: none;
    color: #fcfcfc !important;
    font-weight: 500; 
    font-size: 20px;
}
.nav-item a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: #fffbe1;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}
.nav-item a:hover {
    color:#fffbe1 !important;
}
.nav-item a:active {
    background-color: #2b291c;
}
.nav-item a:hover::after, .nav-item a.active-section::after {
    width: 80%;
}
.info-container {
    color: #fcfcfc !important; 
}

/*-------------------------------------------------------------------*/

.scroll-container {
    height: 100vh;
    overflow-y: auto;
    scroll-snap-type: y mandatory; 
    scroll-behavior: smooth;
    position: relative;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
}
.scroll-container::-webkit-scrollbar {
    display: none;
}
.section {
    width: 100%;
    height: 100vh;
    scroll-snap-align: start; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/*-------------------------------------------------------------------*/

.hero-bg {
    height: 100%;
}
.hero-bg::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left:0;
    background-image: url('bg.jpg') !important;
    background-size: cover;
    z-index: 0;
    opacity: 0.75;
}
.hero-text {
    position: relative;
    top: 20%;
}

/*-------------------------------------------------------------------*/

.section-3 {
    background-color: #64502d;
}

.contatti-bg {
    position: relative;
    width: 100%;
    height: 100%;
}

.contatti-bg::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background-image: url('contatti.jpg') !important;
    background-size: cover;
    opacity: 0.5;
}

.contatti-text {
    position: relative;
    z-index: 1;
    padding: 200px;
}

.contatti-form {
    background-color: #3a2e1d;
}

.contatti-form p {
    color: #fcfcfc !important;
}

.form-control.bg-dark::placeholder {
    color: #adb5bd !important;
    opacity: 1 !important;
}

/*-------------------------------------------------------------------*/

footer {
    scroll-snap-align: end;
}

/*-------------------------------------------------------------------*/